<!DOCTYPE html> <!-- Con este fichero base.html vamos a crear una plantilla que sirva para todos los ficheros HTMl y luego cada uno tendrá sus especificidades. Esto lo hacemos con Jinja -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kakebo | {% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="static/css/mini-default.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header class="oscuro" id="cabecera">
        Kakebo Web - BZ VII
    </header>
    {% with mensajes = get_flashed_messages() %} <!-- get_flashed_messages es una funcion de Jinja que devuelve toda la lista de mensajes flash que hayamos incluido en los demas ficheros-->
        {% if mensajes %} 
       <div class="popup">
            {% for mensaje in mensajes %}
            <p>{{ mensaje }}</p>
            {% endfor %}  
       </div>
       {% endif %}
    {% endwith %}    
    <section class="container">
        {% block contenido %}{% endblock %}
    </section>
    <footer>
        &copy; Todos los derechos reservados 2021
    </footer>
</body>
</html>