{% extends 'base.html' %} 

{% block titulo %} Inicio {% endblock %}

{% block contenido %}
    <title>Kakebo | Inicio</title>
</head>
<body>
    <header>
        Kakebo Web - BZ VII
    </header>
    <section>
        <h1>Listado de movimientos <a href="/nuevo">Crear movimiento</a></h1>
        <table>
            <tr>
                <th>Fecha</th>
                <th>Concepto</th>
                <th>Categoria</th>
                <th>Tipo</th>
                <th>Cantidad</th>  
                <th>Saldo</th>

            </tr>
            {% for movimiento in datos %} <!-- Utilizamos un for de Jinja para recorrer todos los datos de cada registro de la tabla. En HTML no puedo definir variables, tienen que venir dadas. En este caso, la variable datos se le asigna la lista de diccionarios creada en la variable movmientos en el fichero views-->
            <tr>
               <td>{{ movimiento.fecha }}</td> <!-- Para llamar en Jinja se utilia la doble llave-->
               <td>{{ movimiento.concepto }}</td>
               <td>{{ movimiento.categoria }}</td>
               <td> {% if movimiento.esGasto == 0 %} <!-- Como el campo esGasto es un booleano, le metemos un if y si es false, es decir el valor es 0, es decir, no es un gasto, sino un ingreso, (continua en la siguiente linea...)-->
                        Ingreso  <!-- Se imprime en la celda correspondiente la palabra Ingreso -->
                    {% else %}
                        Gasto 
                    {% endif %}
               <td>{{ movimiento.cantidad }}</td>
               <td>{{ movimiento.saldo }}</td>
               <td class="btn">
                   <a href="/borrar/{{ movimiento.id }}">Borrar</a>  <!--  Meter entre llaves movimiento.id permite identificar al formulario cual de los registros es el que quiere borrar. En el inspector del navegador aparecerá como "/borrar/1" por ejemplo. Jinja susituye {{ movimientos.id }} por el id seleccionado de la base de datos-->
               </td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}